
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 461px;
}

.social__clubs {
    display: flex;
    justify-content: center;
}

.social__clubs__item {
    margin-right: 35px;
    margin-top: 51px; 
}

.social__copyright {
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.56px;
    text-align: center;
    color: #21243D; 
    padding-bottom: 54px;
}
